body {
  height: 100%;
}
h1{
    text-align: center;
}

.container{
    border: solid 20px orange;
    outline: dashed 10px green;
    margin:5%;
    padding: 5% 10% 5% 20%;
    height: 50%;


}
.box1{
    border: solid 20px green;
    outline: dotted 10px blue;
    padding: 10% 10% 5% 10%;
    height: 40%;
}
.box2{
    border: solid  10px blue;
    padding: 2% 2%;
    text-align: center;
    outline: solid 10px orange;
    height: 20%;
}