.container{
    border: solid 20px orange;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    outline: dashed 10px green;
    margin: 10%;


}
.box1{
    border: solid 20px green;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 10%;
    outline: dotted 10px blue;
}
.box2{
    border: solid  10px blue;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    outline: solid 10gpx orange;
}